^{:watch-dirs ["test" "src"]
  :css-dirs ["resources/public/css"]
  :auto-testing true 
  :open-url "http://[[server-hostname]]:[[server-port]]/figwheel-extra-main/auto-testing"
  }
{:main chera.core}
